<% if @consoles == [] %>

<p>There are no consoles on the website.</p>

<% else %>

<p>Here are all consoles on the website. Click on an individual console to view its details and owner.
<% if logged_in? %>
<br /> Consoles you own are highlighted in gold.
<% end %>
</p>

<table class="redleft">
<% td_variable=1 %>
<% @consoles.each do |console| %>
    <% if td_variable==1 %>
        <tr><td>
        <a href="/consoles/<%= console.id %>" <% if console.user == current_user %> style="color:#F2BB2B"<% end %>><%= console.name %></a>
        </td>
        <% td_variable=2 %>
    <% else %>
        <td>
        <a href="/consoles/<%= console.id %>" <% if console.user == current_user %> style="color:#F2BB2B"<% end %>><%= console.name %></a>
        </td></tr>
        <% td_variable=1 %>
    <% end %>
<% end %>

<% if td_variable==2 %>
</tr>
<% end %>
</table>

<% if logged_in? %>
<p><a href="/users/<%= current_user.slug %>">Click here</a> to view just your personal collection.</p>
<% end %>

<% end %>