<p>Here are all consoles on the site. Click on an individual console to view its details and owner.</p>

<% if logged_in? %>
<p>Or <a href="/users/<%= current_user.slug %>">click here</a> to view your own personal collection</p>
<% end %>

<table class="redleft">
<% td_variable=1 %>
<% @consoles.each do |console| %>
    <% if td_variable==1 %>
    <tr><td>
        <a href="/consoles/<%= console.id %>"><%= console.name %></a>
    </td>
    <% td_variable=2 %>
    <% else %>
    <td>
        <a href="/consoles/<%= console.id %>"><%= console.name %></a>
    </td></tr>
    <% td_variable=1 %>
    <% end %>
<% end %>

<% if !@consoles.last.id.even? %>
</tr>
<% end %>
</table>

<br />

<% if logged_in? %>
<form method="get" action="/consoles/new">
<input type="submit" value="Add Console">
</form>
<% end %>