<table class="redleft">
<tr><td>Name: </td><td> <%= @console.name %> </td></tr>
<tr><td>Release Year: </td><td> <%= @console.release_year %> </td></tr>
<tr><td>Manufacturer: </td><td> <%= @console.manufacturer %> </td></tr>
<tr><td>Owner: </td><td> <a href="/users/<%= @console.user.slug %>"><%= @console.user.user_name %></a> </td></tr>
</table>

<% if current_user == @console.user %>
<table><tr><td>

<form method="get" action="/consoles/<%= @console.id %>/edit">
<input type="submit" value="Edit Console">
</form>

</td><td>

<form method="post" action="/consoles/<%= @console.id %>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Console">
</form>

</td></tr></table>
<% end %>