<% if @user.consoles == [] %>

    <% if @user == current_user %>
    <p><%= @user.user_name %>, You have no consoles. Would you like to add some? <a href="/consoles/new">Click here.</a></p>
    <% else %>
    <p><%= @user.user_name %> has no consoles.</p>
    <% end %>

<% else %>

    <% if @user == current_user %>
    <p><%= @user.user_name %>, here are your consoles:</p>
    <% else  %>
    <p><%= @user.user_name %>'s consoles:</p>
    <% end %>

    <table class="redleft">

    <% @user.consoles.each do |console| %>
        <tr>
        <td><a href="/consoles/<%= console.id %>"><%= console.name %></a></td>
        </tr>
    <% end %>
    </table>

<% end %>

<br />

<% if current_user == @user %>
<a href="/consoles/new">> Add New Console</a>
<% end %>