<% if @user.consoles == [] %>

    <% if @user == current_user %>
    <p><%= @user.user_name %>, You have no consoles, <%= @user.user_name %>. Would you like to add some? <a href="test">Click here.</a></p>
    <% else %>
    <p><%= @user.user_name %> has no consoles.</p>
    <% end %>

<% else %>

    <% if @user == current_user %>
    <p><%= @user.user_name %>, here are your consoles:</p>
    <% else  %>
    <p><%= @user.user_name %>'s consoles:</p>
    <% end %>

    <table class="redleft">

    <% @user.consoles.each do |console| %>
        <tr>
        <td><a href="/test"><%= console.name %></a></td>
        </tr>
    <% end %>
    </table>

<% end %>