<% if @user.consoles == [] %>

    <% if @user == current_user %>
    <p><%= @user.user_name %>, you have no consoles.</p>
    <% else %>
    <p><%= @user.user_name %> has no consoles.</p>
    <% end %>

<% else %>

    <% if @user == current_user %>
    <p><%= @user.user_name %>, here are your consoles:</p>
    <% else  %>
    <p><%= @user.user_name %>'s consoles:</p>
    <% end %>

    <table class="redleft">

    <% @user.consoles.each do |console| %>
        <tr>
        <td><a href="/consoles/<%= console.id %>"><%= console.name %></a></td>
        </tr>
    <% end %>
    </table>

<% end %>

<% if current_user == @user %>
<form method="get" action="/consoles/new">
<input type="submit" value="Add Console">
</form>
<% end %>