<% if @user.consoles == [] %>

<p><%= @user.user_name %> has no consoles.</p>

<% else %>

<p><%= @user.user_name %>'s consoles:</p>

<table>
<tr>
<td>Name / Release Year / Manufacturer</td>
</tr>

<% @user.consoles.each do |console| %>
    <tr>
    <td>> <a href="/test"><%= console.name %> / <%= console.release_year %> / <%= console.manufacturer %></a></td>
    </tr>
<% end %>
</table>

<% end %>